body {
    background-color: rgb(15, 0, 13);
    /*background-image: url('./content/geocity_watery_background.png');*/
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: "alice";
    font-size: 22px;
    /*cursor: url('./content/hehe-lethal.png'), auto;*/
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 3em;
}

section, aside {
    height: 900px;
    width: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    box-shadow: 0 0 25px 15px rgba(83, 0, 71, 0.7);
    color: #f0ffff;
    padding: 1%;
    box-sizing: border-box;
}

section {
    background-image: url('./content/ken_carsun.jpg');
    background-position: 30%;
    background-size: cover;
}

aside {
    background-image: url('./content/car_kenson.jpg');
    background-position: 69%;
    background-size: cover;
    text-align: right;
}

main {
    background-color: #000000;
    background-image: url('./content/geocity_space_background.png');
    height: 850px;
    width: 600px;
    padding: 25px;
    overflow: hidden;
    border-radius: 5px;
    border-style: solid;
    border-width: 2.5px;
    border-color: #325a67;
    box-shadow: 0 0 25px 15px rgba(65, 0, 55, 0.7);
    color: #f0ffff;
    position: relative; /* Add this to position the child element relative to the main */
}

main .badges {
    position: absolute; /* Position the badges absolutely within the main */
    bottom: 5px; /* Adjust the distance from the bottom of the main */
    left: 5px; /* Adjust the distance from the left side of the main */
    display: flex; /* Align images in a row */
    gap: 5px; /* Space between the images */
}

main .badges img {
    height: 25px;
    image-rendering: crisp-edges;
}

@font-face {
    font-family: "alice";
    src: url("https://inkcaps.neocities.org/fonts/alice.woff");
}
